@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    /* grey color: #4e5d73; */
    /* darkgrey-color: #323a49; */
   

    /* light cyan: #cee3e9; */
    /* Neon green color: #52ffa8; */
    /* bg-[#E2E8F0] */
}
